<div class="page-top clearfix" scroll-position="scrolled" max-height="50" ng-class="{'scrolled': scrolled}">
  <a href="#/dashboard" class="al-logo clearfix"><img src="assets/img/computel2.png"></img>

  <a href class="collapse-menu-link ion-navicon" ba-sidebar-toggle-menu></a>

  <!-- <div class="search">
    <i class="ion-ios-search-strong" ng-click="startSearch()"></i>
    <input id="searchInput" type="text" placeholder="Buscar...">
  </div> -->

  <div class="user-profile clearfix">
    <div class="al-user-profile" uib-dropdown>
      <a uib-dropdown-toggle class="profile-toggle-link">

        <img src="assets/img/userIcon.png"></img>
      </a>
      <ul  class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
        <li><i class="dropdown-arr"></i></li>
        <!--<li><a href="#/profile"><i class="fa fa-user"></i>Profile</a></li>
        <li><a href><i class="fa fa-cog"></i>Settings</a></li> -->
        <li><a href class="signout" ng-click="logout()"><i class="fa fa-power-off"></i>Cerrar Sesión</a></li>
      </ul>
    </div>
   <!--  <msg-center></msg-center> -->
  </div>
</div>