<div ba-panel ba-panel-class="profile-page">
  <div  class="panel-content">
    <h3 class="with-line">Configuración</h3>


    <div class="col-md-12">
      <div class="col-md-10 add-row-editable-table">
        <button class="btn btn-primary" ng-click="newMarca()" data-toggle="modal"><i class="fa fa-plus"></i>Nueva Marca</button>
        <button class="btn btn-primary" ng-click="newModelo()" data-toggle="modal"><i class="fa fa-plus"></i>Nuevo Modelo</button>
        <button class="btn btn-primary" ng-click="newCategoria()" data-toggle="modal"><i class="fa fa-plus"></i>Nueva Categoría</button>
        <button class="btn btn-primary" ng-click="newTipo()" data-toggle="modal"><i class="fa fa-plus"></i>Nuevo tipo de equipo</button>
        <button class="btn btn-primary" ng-click="newBanco()" data-toggle="modal"><i class="fa fa-plus"></i>Nuevo Banco</button>
      </div>

      <div class="col-md-2 ">
          <select class="form-control" ng-model="option" selectpicker ng-change="cargar(option)">
              <option value="marcas">Marcas y Modelos</option>
              <option value="categorias">Categorías</option>
              <option value="tipo">Tipo</option>
              <option value="banco">Banco</option>
          </select>

      </div>
    </div>

    <div ng-if="option == 'marcas'" class="col-md-12">
      <table class="table" datatable="ng" dt-options="dtOptions">
        <thead>
          <tr class="sortable ">
            <th>#</th>
            <th>Marca</th>
            <th>Modelos</th>
            <th></th>
          </tr>
        </thead>
        <tbody >
          <tr ng-repeat="x in marcas" class="editable-row">
            <td>
              {{$index+1}}
            </td>
            <td>
              <span editable-text="x.nombre" e-name="nombre" e-form="rowform" e-required>
                  {{ x.nombre || 'No hay dato' }}
              </span>
            </td>
            <td>
              <span class="tag label label-primary" editable-text="modelo.nombre" e-name="nombre" e-form="rowform" e-required ng-repeat="modelo in x.modelos" style="margin-right: 2px;">
                {{modelo.nombre || 'No hay dato'}}
              </span>
            </td>
            <td>
              <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline" onaftersave="editMarca(x)">
                <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs"> Guardar </button>
                <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default editable-table-button btn-xs"> Cancelar </button>
              </form>
              <div class="buttons" ng-show="!rowform.$visible">
                <button class="btn btn-primary editable-table-button btn-xs" ng-click="rowform.$show()">Editar</button>
               <!--  <button class="btn btn-danger editable-table-button btn-xs" ng-click="deactivate(x)">Desactivar</button> -->
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div ng-if="option == 'categorias'" class="col-md-12">
      <table class="table" datatable="ng" dt-options="dtOptions">
        <thead>
          <tr class="sortable ">
            <th>#</th>
            <th>Nombre</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="x in categorias" class="editable-row">
            <td>
              {{$index+1}}
            </td>
            <td>
              <span editable-text="x.nombre" e-name="nombre" e-form="rowform" e-required>
                  {{ x.nombre || 'No hay dato' }}
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div ng-if="option == 'tipo'" class="col-md-12">
      <table class="table" datatable="ng" dt-options="dtOptions">
        <thead>
          <tr class="sortable ">
            <th>#</th>
            <th>Nombre</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="x in tipos" class="editable-row">
            <td>
              {{$index+1}}
            </td>
            <td>
              <span editable-text="x.nombre" e-name="nombre" e-form="rowform" e-required>
                  {{ x.nombre || 'No hay dato' }}
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div ng-if="option == 'banco'" class="col-md-12">
      <table class="table" datatable="ng" dt-options="dtOptions5">
        <thead>
          <tr class="sortable ">
            <th>#</th>
            <th>Nombre</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="x in bancos" class="editable-row">
            <td>
              {{$index+1}}
            </td>
            <td>
              {{ x.nombre}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>