<div class="modal-content" style="margin-top: 100px;">
    <form ng-submit="saveModelo(nuevoModelo)" name="form">
        <div class="modal-header">
            <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
                <em class="ion-ios-close-empty sn-link-close"></em>
            </button>
            <h4 class="modal-title">Nuevo Modelo</h4>
        </div>

        <div class="modal-body">
            <div class="row">
                <div class="form-group col-md-4" ng-class="{'has-error': (!form.$pristine && form.nombre.$error.required ) || form.nombre.$error.pattern}">
                   <select class="form-control" ng-model="nuevoModelo.marca" title="Marca" name="marca" ng-options="item.id as item.nombre for item in marcas track by item.id"  required>
                    </select>
                </div>
                <span class="col-md-1" style="top:10px; color:#ff0000;">*</span>

                <div class="form-group col-md-6">
                    <input type="text" tag-input="primary" value="" data-role="tagsinput" ng-model="nuevoModelo.modelos" name="modelos" placeholder="Agregar Modelo" style="display: none;" required>
                </div>
                <span class="col-md-1" style="top:10px; color:#ff0000;">*</span>
            </div>
            <div class="row" >
               <p  class="col-md-12" style="color: red;">(*) Todos los campos son requeridos</p>
            </div>

        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" ng-disabled="!form.$valid">Guardar</button>
        </div>
    </form>
</div>
