<div class="modal-content" style="margin-top: 100px;">
    <form ng-submit="saveTipoEquipo(nuevoEquipo)" name="form">
        <div class="modal-header">
            <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
                <em class="ion-ios-close-empty sn-link-close"></em>
            </button>
            <h4 class="modal-title">Nuevo Tipo de equipo</h4>
        </div>

        <div class="modal-body">
            <div class="row">
                <div class="form-group col-md-10" >
                   <input ng-model="nuevoEquipo.nombre" type="text" class="form-control" name="nombre" placeholder="Nuevo Tipo de Equipo" required>
                </div>
                <span class="col-md-2" style="top:10px; color:#ff0000;">*</span>
            </div>
            <div class="row" >
               <p  class="col-md-12" style="color: red;">(*) Campo requerido</p>
            </div>

        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" ng-disabled="!form.$valid">Guardar</button>
        </div>
    </form>
</div>
