<div ba-panel ba-panel-class="profile-page">
  <div class="panel-content">
    <h3 class="with-line">Equipos</h3>

    <div class="col-md-12">
      <div ng-if="false" class="add-row-editable-table">
        <button class="btn btn-primary" ng-click="nuevoEquipo()" data-toggle="modal"><i class="fa fa-plus"></i>Nuevo equipo</button>
      </div>
      <table class="table" datatable="ng" dt-options="dtOptions">
        <thead>
          <tr class="sortable ">
            <th>Serial</th>
            <th>Modelo</th>
            <th>Marca</th>
            <th>Tipo</th>
            <th>Observaciones</th>
            <th></th>
          </tr>
        </thead>
        <tbody >
          <tr ng-repeat="team in equipos">
            <td>
              {{team.serial_equipo}}
            </td>
            <td>
              {{team.modelo}}
            </td>
            <td>
              {{team.marca}}
            </td>
            <td>
              {{team.tipo}}
            </td>
            <td>
              <span editable-text="team.observaciones" e-name="observacion" e-form="rowform" e-required>
                {{ team.observaciones || 'No existe descripcion'}}
              </span>
            </td>
            <td> 
              <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline" onaftersave="editEquipo(team)">
                  <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs"> Guardar </button>
                  <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default editable-table-button btn-xs"> Cancelar </button>
              </form>
              <div class="buttons" ng-show="!rowform.$visible">
                  <button class="btn btn-primary editable-table-button btn-xs" ng-click="rowform.$show()">Editar</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    
  </div>
</div>
