<div class="modal-content" style="margin-top: 100px;">
    <form name="modalEquipo" ng-submit="Save()" >
        <div class="modal-header">
            <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
                <em class="ion-ios-close-empty sn-link-close"></em>
            </button>
            <h4 class="modal-title">Nuevo Equipo</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-4 form-group" ng-class="{'has-error': (!modalEquipo.$pristine && modalEquipo.serial_equipo.$error.required ) || modalEquipo.serial_equipo.$error.pattern}">
                    <label for="input01">Serial</label><span style="color:#ff0000">*</span>
                    <input ng-blur="validate()" type="text" ng-model="data.serial_equipo" name="serial_equipo" class="form-control" id="input01" placeholder="Serial" ng-pattern="/^[0-9a-zA-Z]{1,20}$/" required>
                </div>

                <div class="col-md-4 form-group has-feedback"  ng-if="newMarca == false" ng-class="{'has-error': (!modalEquipo.$pristine && modalEquipo.marca.$error.required ) || modalEquipo.marca.$error.pattern}">
                    <label for="marca">Marca</label><span style="color:#ff0000">*</span>
                    <select class="form-control" ng-model="data.id_marca" title="Marca" name="marca" ng-options="item.id as item.nombre for item in marcas track by item.id"  ng-change="newItem()"  required>
                    </select>
                </div>

                <div class="col-md-4 form-group" ng-if="newMarca"  ng-class="{'has-error': (!modalEquipo.$pristine && modalEquipo.nuevamarca.$error.required ) || modalEquipo.nuevamarca.$error.pattern}">
                    <label for="input01">Nueva Marca</label><span style="color:#ff0000">*</span>
                    <input type="text" ng-model="data.nombre_marca" class="form-control" name="nuevamarca" id="input01" placeholder="Nueva Marca" required>
                </div>
           
                <div class="col-md-4 form-group" ng-if="newModelo == false"   ng-class="{'has-error': (!modalEquipo.$pristine && modalEquipo.modelo.$error.required ) || modalEquipo.modelo.$error.pattern}">
                    <label for="cedula">Modelo</label><span style="color:#ff0000">*</span>
                    <select class="form-control" ng-model="data.id_modelo" title="Modelos" name="modelo" ng-options="item.id as item.nombre for item in modelos track by item.id"  ng-change="newItem()"  required>
                    </select>
                </div>

                <div class="col-md-4 form-group" ng-if="newModelo"   ng-class="{'has-error': (!modalEquipo.$pristine && modalEquipo.nuevomodelo.$error.required ) || modalEquipo.nuevomodelo.$error.pattern}">
                    <label for="input01">Nuevo Modelo</label><span style="color:#ff0000">*</span>
                    <input type="text" ng-model="data.nombre_modelo" class="form-control" name="nuevomodelo" id="input01" placeholder="Nueva Modelo" required>
                </div>

                <div ng-if="newType == false" class="col-md-4 form-group has-feedback"  ng-class="{'has-error': (!modalEquipo.$pristine && modalEquipo.tipoequipo.$error.required ) || modalEquipo.tipoequipo.$error.pattern}">
                    <label for="tipo_equipo">Tipo de equipo</label><span style="color:#ff0000">*</span>
                    <select class="form-control" ng-model="data.codigo_tipo" title="Tipo de Equipo"  name="tipoequipo"  id="tipo_equipo"              ng-options="item.codigo_tipo as item.nombre for item in tiposEquipo" ng-change="newItem()" required>
                    </select>
                </div>

                <div ng-if="newType" class="col-md-4 form-group"  ng-class="{'has-error': (!modalEquipo.$pristine && modalEquipo.nuevoequipo.$error.required ) || modalEquipo.nuevoequipo.$error.pattern}">
                    <label for="input01">Tipo de Equipo</label><span style="color:#ff0000">*</span>
                    <input type="text" ng-model="data.nombre_tipo" class="form-control"  name="nuevoequipo" id="input01" placeholder="Nueva Tipo de Equipo" required>
                </div>

                <div class="col-md-8 form-group"  ng-class="{'has-error': (!modalEquipo.$pristine && modalEquipo.obser.$error.required ) || modalEquipo.obser.$error.pattern}">
                    <label for="textarea01">Observacion</label><span style="color:#ff0000">*</span>
                    <textarea ng-model="data.observaciones" placeholder="Texto..."  name="obser" class="form-control" id="textarea01" required></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
             <button type="submit" class="btn btn-primary" ng-disabled="!modalEquipo.$valid">Guardar</button>
        </div>
    </form>
</div>
