<div ba-panel ba-panel-class="profile-page" >
    <div class="panel-content" ng-if="open">
        <h3 class="with-line"><li class="fa fa-shopping-bag"></li>Nueva Compra</h3>
        <div class="row col-md-12" ng-show="paso==1">
            <form name="factura" ng-submit="siguiente()">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3>Información de la compra</h3>
                    </div>
                    
                    <div class="col-md-12">
                        <div class="col-md-3 form-group has-feedback" ng-class="{'has-error': (!factura.$pristine && factura.proveedor.$error.required )  || factura.proveedor.$error.pattern}">
                            <label for="proveedor">Proveedor</label><span style="color:#ff0000">*</span>
                            <select id="proveedor" name="proveedor" class="form-control" ng-model="newProducto.factura.rif" title="Proveedor" ng-options="item.rif as item.nombre_prov for item in proveedor track by item.rif" ng-change="validate(newProducto.factura)"  required>
                            </select>
                        </div>

                        <div class="form-group col-md-3" ng-class="{'has-error': (!factura.$pristine && factura.num_factura.$error.required ) || factura.num_factura.$error.pattern}">
                            <label for="input01">Número de Factura</label><span style="color:#ff0000">*</span>
                            <input name="num_factura" id="num_factura" ng-model="newProducto.factura.num_factura"  type="text" class="form-control" placeholder="Numero" ng-blur="validate(newProducto.factura)" required>
                        </div>
                        
                        <div class="form-group col-md-3" >
                            <label for="input01">Fecha de compra</label><span style="color:#ff0000">*</span>
                            <p class="input-group">
                              <input ng-model="newProducto.factura.fecha_compra"
                                uib-datepicker-popup="{{format}}"
                                is-open="popup1.opened"
                                datepicker-options="dateOptions"
                                ng-required="true" 
                                close-text="Cerrar" 
                                alt-input-formats="altInputFormats"
                                maxDate="today"
                                class="form-control" required>
                                <span class="input-group-btn">
                                 <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                               </span>
                            </p>
                        </div>


                        <div class="form-group col-md-3" ng-class="{'has-error': (!factura.$pristine && factura.tipo_pago.$error.required )}">
                            <label for="input01">Tipo de Pago</label><span style="color:#ff0000">*</span>
                            <select id="tipo_pago" name="tipo_pago" class="form-control" ng-model="newProducto.factura.tipo_pago" title="Tipo de Pago" ng-options="item.id as item.nombre for item in typePayment track by item.id" required>
                            </select>
                        </div>  
                       
                    </div>

                    <div class="col-md-12">
                      <div ng-if="newProducto.factura.tipo_pago == 'transferencia'">
                        <div class="form-group col-md-3" >
                            <label for="input01">Número de referencia</label><span style="color:#ff0000">*</span>
                            <input ng-model="newProducto.factura.num_referencia"  type="text" class="form-control" placeholder="Nùmero de referencia" required>
                        </div>
                      </div>
                      <div ng-if="newProducto.factura.tipo_pago == 'debito' || newProducto.factura.tipo_pago == 'credito'">
                        <div class="form-group col-md-3" >
                            <label for="input01">Número de tarjeta</label><span style="color:#ff0000">*</span>
                            <input ng-model="newProducto.factura.num_tarjeta"  type="text" class="form-control" placeholder="Nùmero de tarjeta" required>
                        </div>
                      </div>
                      <div ng-if="newProducto.factura.tipo_pago == 'debito' || newProducto.factura.tipo_pago == 'credito' || newProducto.factura.tipo_pago == 'transferencia'">
                        <div class="form-group col-md-3" >
                            <label for="input01">Banco</label><span style="color:#ff0000">*</span>
                            <select id="proveedor" name="banco" class="form-control" ng-model="newProducto.factura.banco" title="Banco" ng-options="item.id as item.nombre for item in bancos track by item.id"  required>
                            </select>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12">
                      <p style="color: red;">(*) Todos los campos son obligatorios</p>
                    </div>

                   

                    <div class="col-md-12 col-sm-12">
                        <nav>
                            <ul class="pager ba-wizard-pager">
                                <li class="previous"><button ng-disabled="paso==1" ng-click="anterior()" type="button" class=" btn btn-primary" disabled="disabled"><span aria-hidden="true">←</span> Anterior</button></li>
                                <li class="next"> <button ng-if="avanzar==true" ng-disabled="!factura.$valid" type="submit" class="btn btn-primary">Siguiente <span aria-hidden="true">→</span></button></li>
                            </ul>
                        </nav>
                    </div>

                </div>
            </form>
        </div>
        
        <div class="row col-md-12" ng-show="paso==2">

            <form name="item" ng-submit="addItem()">
              <div class="row">
                  <div class="col-md-12 text-center">
                      <h3>Información de Producto</h3>
                  </div>
                  <div  class="col-md-12">
                    <div class="col-md-2 form-group" ng-class="{'has-error': (!item.$pristine && item.tipo.$error.required )}">
                        <label for="tipo">Tipo</label><span style="color:#ff0000">*</span>
                        <select name="tipo" ng-model="data.tipo" class="form-control" title="Tipo" ng-options="item.id as item.nombre for item in typeProd track by item.id" ng-change="loadProduct()" required>
                        </select>
                    </div>
                    <div ng-if="(data.tipo != 'pieza')" class="col-md-3 form-group" ng-class="{'has-error': (!item.$pristine && item.producto.$error.required )}">
                        <label for="producto">Producto</label><span style="color:#ff0000">*</span>
                        <select name="producto" id="producto" class="form-control" ng-model="data.id_inventario" title="Producto" ng-options="item.id as item.nombre for item in producto track by item.id"  ng-change="loadItem()" required>
                        </select>
                    </div>
                    <div ng-if="data.tipo == 'pieza'" class="col-md-3 form-group" ng-class="{'has-error': (!item.$pristine && item.producto.$error.required )}">
                        <label for="input01">Producto</label>
                        <select name="producto" id="producto" class="form-control" ng-model="data.id_pieza" title="Producto" ng-options="item.id_pieza as item.nombre for item in producto track by item.id_pieza" ng-change="loadItem()" required>
                        </select>
                    </div>
                     
                      <div class="form-group col-md-2" ng-class="{'has-error': (!item.$pristine && item.cantidad.$error.required )  || item.cantidad.$error.pattern}">
                          <label for="cantidad">Cantidad</label><span style="color:#ff0000">*</span>
                          <input name="cantidad" id="cantidad" ng-model="data.cantidad"  type="text" class="form-control" id="input01" placeholder="Cantidad" ng-pattern="/^[0-9]{1,20}$/" required>
                      </div>

                      <div class="form-group col-md-2"  ng-class="{'has-error': (!item.$pristine && item.costo.$error.required )  || item.costo.$error.pattern}">
                          <label for="costo">Costo (Bs)</label><span style="color:#ff0000">*</span>
                          <input name="costo" id="costo" ng-model="data.costo"  type="text" class="form-control" id="input01" placeholder="Costo" ng-blur="precio_vent(data)"  step="any" required>
                      </div> 

                      <div ng-if="data.tipo == 'pieza'" class="form-group col-md-2"  ng-class="{'has-error': (!item.$pristine && item.precio_venta.$error.required )  || item.costo.$error.pattern}">
                          <label for="costo">Precio de venta (Bs)</label><span style="color:#ff0000">*</span>
                          <input style="color: black;" name="precio_venta" id="precio_venta" ng-model="data.precio_venta" ng-value="precio_final" type="text" class="form-control" id="input01" placeholder="Precio de venta" readonly >
                      </div> 
                      <div class="form-group col-md-1">
                        <label for="input01">Agregar</label>
                        <button ng-disabled="!item.$valid" type="submit" class="btn btn-primary btn-icon" ><i class="fa fa-plus"></i></button>
                      </div>
                  </div>
                 
              </div>

              <div class="row">
                <p style="color: red;">(*) Todos los campos son obligatorios</p>
              </div>

              <div ng-if="showInfoProd" class="row table-responsive">
                <div class="col-md-12 text-center">
                  <h3>Productos Agregados</h3>
                </div>
                <table  class="table table-striped table-condensed">
                  <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Cantidad</th>
                      <th>Costo (Bs)</th>
                      <th>Total (Bs)</th>
                      <th>Eliminar</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="item in infoProd" class="no-top-border ng-scope">
                      <td>{{ item.nombre}}</td>
                      <td>{{ item.cantidad}}</td>
                      <td>{{ item.costo}}</td>
                      <td>{{ item.monto_total }}</td>
                      <td><a  ng-click="suprimirProducto(item)"><i class="fa fa-close"></i></a></td>
                    </tr>
                  </tbody>
                  <thead>
                    <tr class="black-muted-bg">
                      <th>Total (Bs)</th>
                      <th></th>
                      <th></th>
                      <th>{{newProducto.factura.monto_total}}</th>
                      <th></th>
                    </tr>
                  </thead>
                </table>
              </div>

              <div class="col-md-12 col-sm-12">
                  <nav>
                      <ul class="pager ba-wizard-pager">
                          <li class="previous"><button ng-disabled="paso==1" ng-click="anterior()" type="button" class=" btn btn-primary" disabled="disabled"><span aria-hidden="true">←</span> Anterior</button></li>
                          <li class="next"> <button ng-click="guardarCompra()" class="btn btn-primary">Guardar <i class="fa fa-save"></i></button></li>
                      </ul>
                  </nav>
              </div>
            </form>
        </div>        

    </div>

    <div class="panel-content" ng-if="openReduccion">
        <h3 class="with-line"><li class="fa fa-shopping-bag"></li>Reducir Inventario</h3>
        <div class="row col-md-12" ng-show="paso==1">
           
            <form name="eliminarProducto" ng-submit="guardarReduccion()">
                <div class="row"> 
                    <div class="col-md-12">
                      <div class="col-md-2 form-group" ng-class="{'has-error': (!eliminarProducto.$pristine && eliminarProducto.tipo.$error.required )}">
                          <label for="input01">Tipo</label><span style="color:#ff0000">*</span>
                          <select ng-model="dataEliminar.tipo" class="form-control" title="Tipo" data-style="btn-default" data-container="body" name="tipo" selectpicker ng-change="loadProductos()" required>
                              <option value="herramienta">Herramienta</option>
                              <option value="pieza">Pieza</option>
                              <option value="mobiliario">Mobiliario</option>

                          </select>
                      </div>

                      <div ng-if="type" class="col-md-3 form-group" ng-class="{'has-error': (!eliminarProducto.$pristine && eliminarProducto.producto.$error.required )}">
                          <label for="input01">Producto</label><span style="color:#ff0000">*</span>
                          <select class="form-control" ng-model="dataEliminar.producto" title="Producto" ng-options="productoSup.id as productoSup.nombre for productoSup in Product track by productoSup.id" name="producto" data-live-search="true" required>
                          </select>
                      </div>

                       <div ng-if="type == false" class="col-md-3 form-group" ng-class="{'has-error': (!eliminarProducto.$pristine && eliminarProducto.producto.$error.required )}">
                          <label for="input01">Producto</label><span style="color:#ff0000">*</span>
                          <select class="form-control" ng-model="dataEliminar.producto" title="Producto" ng-options="item.id_pieza as item.nombre for item in Product track by item.id_pieza" name="producto" data-live-search="true" required>
                          </select>
                      </div>

                      <div class="form-group col-md-2" ng-class="{'has-error': (!eliminarProducto.$pristine && eliminarProducto.cantidad.$error.required )}">
                          <label for="input01">Cantidad</label><span style="color:#ff0000">*</span>
                          <input ng-model="dataEliminar.cantidad" id="cantidad" name="cantidad" type="text" class="form-control" placeholder="Cantidad" required>
                      </div>
                      
                      <div class="form-group col-md-5" ng-class="{'has-error': (!eliminarProducto.$pristine && eliminarProducto.reduccionDes.$error.required )}">
                          <label for="input01">Descripción</label><span style="color:#ff0000">*</span>
                          <textarea ng-model="dataEliminar.descripcion"  type="text" class="form-control" id="input01" name="reduccionDes" placeholder="Descripción" required></textarea>
                      </div>    

                      <div class="col-md-12 col-sm-12">
                          <nav>
                              <ul class="pager ba-wizard-pager">
                                  <li class="next"> <button type="submit" class="btn btn-primary" ng-disabled="!eliminarProducto.$valid">Guardar <i class="fa fa-save"></i></button></li>
                              </ul>
                          </nav>
                      </div>                
                    </div>

                </div>

                <div>
                  <p style="color: red;">(*) Todos los campos son obligatorios</p>
                </div>
            </form>
            <hr>
        </div>
    </div>

    <div class="panel-content" style="margin: 30px 0;">
        <div class="row">
          <div class="col-md-10">
              <button class="btn btn-primary" ng-click="NewPurchase()" data-toggle="modal"><i class="fa fa-plus"></i>Nueva Compra</button>
          </div>

          <div class="col-md-2">
              <button class="btn btn-default" ng-click="reduccionInventario()" data-toggle="modal">Reducir Inventario</button>
          </div>
        </div>
    </div>
    <hr>

  <div class="panel-content">
    <!-- tablas de herramientas inmobiliarios y -->

    <uib-tabset active="$tabSetStatus.activeTab">
      
      <uib-tab heading="Herramientas">
        <div class="col-md-12">
          <table class="table" datatable="ng" dt-options="dtOptions">
            <thead>
              <tr class="sortable ">
                <th>Nombre</th>
                <th>Unidad</th>
                <th>Cantidad</th>
                <th>Valor Referencial (Bs)</th>
                <th>Estado</th>
              <!--   <th>Acciones</th> -->
              </tr>
            </thead>
            <tbody >
              <tr ng-repeat="x in tool">
                <td>
                  {{ x.nombre}}
                </td>
                <td>
                  {{ x.unidad}}
                </td>
                <td>
                  {{ x.cantidad}}
                </td>
                <td>
                    {{ x.valor_ref}}
                </td>
                
                <td>
                    {{ x.estado }}
                </td>
                <!-- <td>
                  <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline" onaftersave="editClient(x)">
                    <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs"> Guardar </button>
                    <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default editable-table-button btn-xs"> Cancelar </button>
                  </form>
                  <div class="buttons" ng-show="!rowform.$visible">
                    <button class="btn btn-primary editable-table-button btn-xs" ng-click="rowform.$show()">Editar</button>
                     <button class="btn btn-danger editable-table-button btn-xs" ng-click="deactivate(x)">Desactivar</button> 
                  </div>
                </td> -->
              </tr>
            </tbody>
          </table>
        </div>
      </uib-tab>

      <uib-tab heading="Piezas">
        <div class="col-md-12">
          <table class="table" datatable="ng" dt-options="dtOptions">
            <thead>
              <tr class="sortable ">
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Unidad</th>
                <th>Medida</th>
                <th>Cantidad</th>
                <th>Costo (Bs)</th>
                <th>Precio de venta (Bs)</th>
                <!-- <th>Acciones</th> -->
              </tr>
            </thead>
            <tbody >
              <tr ng-repeat="x in pieces">
                <td>
                  {{ x.nombre}}
                </td>
                <td>
                  {{ x.descripcion}}
                </td>
                <td>
                  {{ x.unidad}}
                </td>
                <td>
                  {{ x.medida}}
                </td>
                <td>
                  {{ x.cantidad}}
                </td>
                <td>
                  {{ x.costo}}
                </td>
                <td>
                  {{ x.precio_venta}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </uib-tab> 

      <uib-tab heading="Mobiliario">
        <div class="col-md-12">
          <table class="table" datatable="ng" dt-options="dtOptions">
            <thead>
              <tr class="sortable ">
                <th>Nombre</th>
                <th>Unidad</th>
                <th>Cantidad</th>
                <th>Valor Referencial (Bs)</th>
                <th>Estado</th>
                <!-- <th>Acciones</th> -->
              </tr>
            </thead>
            <tbody >
              <tr ng-repeat="x in furniture" >
                <td>
                  {{ x.nombre}}
                </td>
                <td>
                  {{ x.unidad}}
                </td>
                <td>
                  {{ x.cantidad}}
                </td>
                <td>
                  {{ x.valor_ref}}
                </td>
                
                <td >
                    {{ x.estado }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </uib-tab> 

      <uib-tab heading="Facturas Compra">
        <div class="col-md-12">
          <table class="table" datatable="ng" dt-options="dtOptions">
            <thead>
              <tr class="sortable ">
                <th>Nº Factura</th>
                <th>Proveedor</th>
                <th>Fecha</th>
                <th>Monto total (Bs)</th>
                <th>Tipo pago</th>
                <!-- <th>Acciones</th> -->
              </tr>
            </thead>
            <tbody >
              <tr ng-repeat="x in facturaCompra" class="editable-row">
                <td>
                  {{ x.num_factura}}
                </td>
                <td>
                  {{ x.nombre_prov}}
                </td>
                <td>
                  {{ x.fecha_compra}}
                </td>
                 <td>
                  {{ x.monto_total}}
                </td>
                 <td>
                  {{ x.tipo_pago}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </uib-tab> 

    </uib-tabset>

  </div>
</div>

