<div class="modal-content" style="margin-top: 100px;">
    <form ng-submit="saveProd(item)" name="form">
        <div class="modal-header">
            <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
                <em class="ion-ios-close-empty sn-link-close"></em>
            </button>
            <h4 class="modal-title">Nuevo Producto</h4>
        </div>

        <div class="modal-body">
            <div class="form-group col-md-6">
                <label >Nombre</label><span style="color:#ff0000">*</span>
                <input ng-model="item.nombre" type="text" class="form-control" placeholder="Nombre" required>
            </div>
                     
            <div  class="form-group col-md-6">
                <label for="input01">Unidad</label>
                <input ng-model="item.unidad"  type="text" class="form-control" id="input01" placeholder="Unidad" >
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" ng-disabled="!form.$valid">Guardar</button>
        </div>
    </form>
</div>
