<div class="modal-content" style="margin-top: 100px;">
    <form ng-submit="savePieza(pieza)" name="form">
        <div class="modal-header">
            <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
                <em class="ion-ios-close-empty sn-link-close"></em>
            </button>
            <h4 class="modal-title">Nueva Pieza</h4>
        </div>

        <div class="modal-body">
            <div class="form-group col-md-4">
                <label >Código</label><span style="color:#ff0000">*</span>
                <input ng-model="pieza.id_pieza" type="text" class="form-control" placeholder="Código" required>
            </div>
            <div class="form-group col-md-4">
                <label >Nombre</label><span style="color:#ff0000">*</span>
                <input ng-model="pieza.nombre" type="text" class="form-control" placeholder="Nombre" required>
            </div>

            <div  class="form-group col-md-4">
                <label for="input01">Unidad de medida</label>
                <input ng-model="pieza.unidad"  type="text" class="form-control" id="input01" placeholder="Unidad" >
            </div>

            <div class="form-group col-md-4">
                <label for="input01">Medida</label>
                <input ng-model="pieza.medida"  type="text" class="form-control" id="input01" placeholder="Medida" >
            </div>

            <div class="form-group col-md-4">
                <label for="input01">Categorìa </label>
                <select class="form-control" ng-model="pieza.categoria" title="Categoría" ng-options="item.id as item.nombre for item in categorias track by item.id" >
                </select>
            </div>

            <div class="col-md-4 form-group" >
                <label for="input01">Modelo</label>
                <select class="form-control" ng-model="pieza.modelo" title="Modelo" ng-options="item.id as item.nombre for item in modelos" selectpicker-options="modelos" multiple selectpicker>
                </select>
            </div>

            <div  class="form-group col-md-4">
                <label for="input01">Descripción</label>
                <input ng-model="pieza.descripcion"  type="text" class="form-control" id="input01" placeholder="Descripción" required="required">
            </div> 
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" ng-disabled="!form.$valid">Guardar</button>
        </div>
    </form>
</div>
