<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title">Cambiar Contraseña</h4>
    </div>
    <div class="modal-body">
        <form name="modalChangePass" ng-submit="changePassword()" >
            <div class="col-md-12">
                <div class="form-group col-md-6" >
                    <label for="input01">Nueva Contraseña</label><span style="color:#ff0000">*</span>
                    <input ng-model="newPassword.clave" type="password" name="pass" class="form-control"  placeholder="Nueva Contraseña" minlength="6" required>
                </div>
                <div class="form-group col-md-6" ng-class="{'has-error': errorPassword == true }" >
                    <label for="input01" >Repetir Contraseña</label><span style="color:#ff0000">*</span>
                    <input ng-model="newPassword.clave2" type="password" name="confirm"  class="form-control"  placeholder="Contraseña anterior" ng-blur="validar()"  minlength="6" required>
                    <span ng-show="errorPassword">La contraseña no coincide</span>
                </div>
                {{reppassword}}
            </div>
            <div class="modal-footer">
                 <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>
    </div>
</div>
