<div class="modal-content" style="margin-top: 100px;">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title">Nuevo Usuario</h4>
    </div>
    <form name="modalUsuario" ng-submit="saveUser(nuevoUser)" >
        <div class="modal-body">
            <div class="col-md-12">
                <div class="form-group col-md-4" ng-class="{'has-error': (!modalUsuario.$pristine && modalUsuario.cedula.$error.required ) || modalUsuario.cedula.$error.pattern}">
                        <label for="input01">Cedula</label><span style="color:#ff0000">*</span>
                        <input ng-model="nuevoUser.cedula" type="text" name="cedula" class="form-control" id="input01" placeholder="Cedula" ng-pattern="/^[0-9]{1,8}$/" required>
                        <span ng-show="modalUsuario.cedula.$error.pattern">Solo 8 digitos</span>
                </div>
           
                <div class="form-group col-md-4" ng-class="{'has-error': (!modalUsuario.$pristine && modalUsuario.nombre.$error.required ) || modalUsuario.nombre.$error.pattern}">
                        <label for="input01">Nombre</label><span style="color:#ff0000">*</span>
                        <input ng-model="nuevoUser.nombre" type="text" class="form-control" id="input01"  name="nombre" placeholder="Nombre">
                </div>

                <div class="form-group col-md-4" ng-class="{'has-error': (!modalUsuario.$pristine && modalUsuario.apellido.$error.required ) || modalUsuario.apellido.$error.pattern}">
                    <label for="input01">Apellido</label><span style="color:#ff0000">*</span>
                    <input ng-model="nuevoUser.apellido" type="text" name="apellido" class="form-control" id="input01" placeholder="Apellido">
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group col-md-4" ng-class="{'has-error': (!modalUsuario.$pristine && modalUsuario.clave.$error.required ) || modalUsuario.clave.$error.pattern}">
                    <label for="input01">Contraseña</label><span style="color:#ff0000">*</span>
                    <input ng-model="nuevoUser.clave" type="password" name="clave" class="form-control" id="input01" placeholder="Contraseña">
                </div>

                 <div class="form-group col-md-4" ng-class="{'has-error': (!modalUsuario.$pristine && modalUsuario.clave1.$error.required ) || modalUsuario.clave1.$error.pattern}">
                    <label for="input01">Repetir contraseña</label><span style="color:#ff0000">*</span>
                    <input ng-model="clave1" type="password" class="form-control" neme="clave1" id="input01" placeholder="Repetir contraseña">
                </div> 
            </div> 
            <div class="col-md-12">
                <div class="form-group col-md-4">
                    <p style="color: red;">(*) Todos los campos son obligatorios</p>
                </div>
            </div>

         </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" ng-disabled="!modalUsuario.$valid">Guardar</button>
         </div>
    </form>
</div>
