<div ba-panel ba-panel-class="profile-page">
  <div class="panel-content">
    <h3 class="with-line">Usuarios</h3>

    <div class="col-md-12"  ng-if="currentUser.tipo!='tecnico'">
      <div class="col-md-9 add-row-editable-table">
        <button class="btn btn-primary" ng-click="NewUser()" data-toggle="modal"><i class="fa fa-plus"></i>Nuevo usuario</button>
      </div>
      <div class="col-md-3 ">
          <select class="form-control" ng-model="usu.estado" selectpicker ng-change="cargarUser(usu)">
              <option value="activo">Activos</option>
              <option value="inactivo">Inactivos</option>
          </select>

      </div>
    </div>

    <div class="col-md-12">
      <table class="table" datatable="ng" dt-options="dtOptions">
        <thead>
          <tr class="sortable ">
            <th>Cedula</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Tipo</th>
            <th>Estado</th>
            <th></th>
          </tr>
        </thead>
        <tbody >
          <tr ng-repeat="user in users">
            <td>
                {{user.cedula}}
            </td>
            <td>
              <span editable-text="user.nombre" e-name="nombre" e-form="rowform" e-required>
                  {{ user.nombre || 'Sin descripción' }}
              </span>
            </td>
            <td>
              <span editable-text="user.apellido" e-name="apellido" e-form="rowform" e-required>
                  {{ user.apellido || 'Sin descripción' }}
              </span>
            </td>
             <td>
              <span>
                  {{ user.tipo || 'Sin descripción' }}
              </span>
            </td>
          <!--   <td class="select-td">
              <span editable-select="user.tipo" e-name="tipo" e-form="rowform" e-selectpicker e-ng-options="g as g for g in tipos" >
                  {{ user.tipo || 'Sin descripción' }}
              </span>
            </td> -->
            <td class="select-td">
              <span editable-select="user.estado" e-name="estado" e-form="rowform" e-selectpicker e-ng-options="g as g for g in estados">
                  {{ user.estado }}
              </span>
            </td>
            <td> 
              <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline" onaftersave="editUser(user)">
                  <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs"> Guardar </button>
                  <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default editable-table-button btn-xs"> Cancelar </button>
              </form>
              <div class="buttons" ng-show="!rowform.$visible">
                  <button class="btn btn-primary editable-table-button btn-xs" ng-click="rowform.$show()">Editar</button>
                  <button class="btn btn-info editable-table-button btn-xs" title="Cambiar contraseña" ng-click="cambiarClave(user)"><li class="fa fa-key "></li></button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    
  </div>
</div>
