<div class="modal-content row">
	<form ng-submit="guardarTecnicos(newTecnico)">
		<div class="modal-header col-md-12">
		    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
		        <em class="ion-ios-close-empty sn-link-close"></em>
		    </button>
		    <h3 class="modal-title">Asignar tecnico a la orden numero {{info.num_reparacion}}</h3>
		</div>
		<div class="col-md-12 modal-body">
			<div class="form-group has-feedback">
		        <label for="tecnicos">Técnicos</label>
		        <select class="form-control" ng-model="newTecnico" title="Tecnicos" ng-options="item.cedula as item.nombre+' '+item.apellido for item in tecnicos" >
		        </select>
		    </div>
		</div>
		<div class="col-md-12 modal-footer" >
			<div class="col-md-12" style="padding: 20px">
				<button class="btn btn-primary" type="submit">Asignar nuevo tecnico</button>
			</div>	
</div>
	</form>
</div>