<div class="modal-content row">
	<form ng-submit="GuardarFactura()">
		<div class="modal-header col-md-12">
		    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
		        <em class="ion-ios-close-empty sn-link-close"></em>
		    </button>
		    <h3 class="modal-title">Costo</h3>
		</div>
		<div class="col-md-12 modal-body">
			<div class="form-group has-feedback">
				<div class="input-group">
		        	<h4>Detalles de la reparación</h4>
				  	<textarea class="form-control" cols="30" rows="10" ng-model="info.reparacion"></textarea>
				</div>
				<h4>Cobro por la reparación</h4>
				<div class="col-md-12">
					<div class="form-group  col-md-6">
					  	<label for="input01">Total (BS):</label>
					  	<input type="number" min="0" class="form-control" ng-model="info.total" placeholder="Bs." ng-blur="comision(info.total)">
					</div>
					<div class="form-group  col-md-6">
					  	<label for="input01">Tipo de pago</label>
				  		<select class="form-control" ng-model="info.tipo_pago" title="Tipo de Pago" ng-options="item.id as item.nombre for item in typePayment track by item.id" required>
                        </select>
					</div>
				</div>
				<div class="col-md-12">
					<div ng-if="info.tipo_pago=='debito' || info.tipo_pago=='credito'" class="form-group  col-md-6">
					  	<label for="input01">Número de tarjeta:</label>
					  	<input type="text" min="0" class="form-control" ng-model="info.num_tarjeta" >
					</div>
					<div ng-if="info.tipo_pago=='transferencia'" class="form-group  col-md-6">
					  	<label for="input01">Número de transferencia:</label>
					  	<input type="text" min="0" class="form-control" ng-model="info.num_transferencia">
					</div>
					<div ng-if="info.tipo_pago=='debito' || info.tipo_pago=='credito' || info.tipo_pago=='transferencia'" class="form-group  col-md-6">
					  	<label for="input01">Banco:</label>
					  	<select id="proveedor" name="banco" class="form-control" ng-model="info.banco" title="Banco" ng-options="item.id as item.nombre for item in bancos track by item.id"  required>
                        </select>
					</div>
					
				</div>

		        <h4>Comisión para técnicos</h4>
		        <div class="input-group" ng-repeat="tecnico in info.tecnicos">
				  	<label for="input01" class="col-md-3">{{tecnico.nombre +' '+ tecnico.apellido}} (BS):</label>
				  	<div class="col-md-9">
				  		<input type="text" min="0" class="form-control" ng-model="tecnico.comision" placeholder="Bs." readonly>
				  	</div>
				  	</br>
				</div>
		        <h4 ng-if="info.piezas_usadas != false">Precio de venta sugerido</h4>
		        <div class="input-group" >

				  	<li ng-repeat="x in info.piezas_usadas">{{x.cantidad}} {{x.nombre}} {{x.precio_venta}} Bs.</li>
				</div>
		    </div>
		</div>
		<div class="col-md-12 modal-footer" >
			<div class="col-md-12" style="padding: 20px">
				<button class="btn btn-primary" type="submit">Facturar</button>
			</div>	
		</div>
	</form>
</div>