<div class="modal-content row">
    <div class="modal-header col-md-12">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h3 class="modal-title">Detalles</h3>
    </div>
	<div class="col-md-12 modal-body">
		<table class="table table-striped">
			<tr>
				<td>N° reparación:</td>
				<td>{{info.num_reparacion}}</td>
			</tr>
			<tr ng-if="info.estado=='entregado'">
				<td>Descripción de facturación</td>
				<td>{{info.descripcion_fact}}</td>
			</tr>
			<tr>
				<td>Cedula:</td>
				<td>{{info.cedula_cliente}}</td>
			</tr>
			<tr>
				<td>Nombre cliente</td>
				<td>{{info.nombre+' '+info.apellido}}</td>
			</tr>
			<tr>
				<td>Serial de equipo</td>
				<td>{{info.serial_equipo}}</td>
			</tr>
			<tr>
				<td>Modelo de equipo</td>
				<td>{{info.marca +' - '+ info.modelo}}</td>
			</tr>
			<tr>
				<td>Falla</td>
				<td>{{info.falla}}</td>
			</tr>
			<tr>
				<td>Estado de reparación</td>
				<td>{{info.estado}}</td>
			</tr>
			<tr>
				<td>Tiempo en sitio:</td>
				<td>{{info.tiempoSitio}} Días</td>
			</tr>
			<tr>
				<td>Accesorios dejados:</td>
				<td>
					<input type="checkbox" ng-model="info.audifonos" ng-true-value="'t'" disabled="true"> 
					Audifonos
					<input type="checkbox" ng-model="info.cargador" ng-true-value="'t'" disabled="true" style="margin-left: 5px;"> 
					Cargador
					<input type="checkbox" ng-model="info.pila" ng-true-value="'t'" disabled="true" style="margin-left: 5px;"> 
					Bateria
					<input type="checkbox" ng-model="info.tarjeta_memoria" ng-true-value="'t'" disabled="true" style="margin-left: 5px;"> 
					Tarjeta memoria
					<input type="checkbox" ng-true-value="'t'" ng-model="info.sim_car" disabled="true" style="margin-left: 5px;"> 
					SimCard
					<input type="checkbox" ng-true-value="'t'" ng-model="info.tapa" disabled="true" style="margin-left: 5px;"> 
					Tapa
					Otros: {{info.otro}}
				</td>
			</tr>
		</table>
        <h3 class="modal-title" style="padding: 10px 0;">Tecnicos</h3>
		
		<uib-accordion ng-repeat="tecnico in info.tecnicos">
  			<uib-accordion-group is-open="false" heading="{{tecnico.nombre}} {{tecnico.apellido}}" panel-class="bootstrap-panel accordion-panel panel-primary">
				<table class="table" >
					<tr>
						<td>Tecnico</td>
						<td>{{tecnico.nombre +' '+ tecnico.apellido}}</td>
					</tr>
					<tr>
						<td>Estado de la reparación</td>
						<td>{{tecnico.estado}}</td>
					</tr>
					<tr>
						<td>fecha de inicio de reparación</td>
						<td>{{tecnico.fecha_inicio | date}}</td>
					</tr>
					<tr>
						<td>fecha de final de reparación</td>
						<td>{{tecnico.fecha_fin | date}}</td>
					</tr>
					<tr>
						<td>Observación</td>
						<td>{{tecnico.observacion}}</td>
					</tr>
					<tr>
						<td>Accesorios usados</td>
						<td>
							<span  class="tag label label-primary"  style="margin-right: 2px; color:white;" ng-repeat="x in tecnico.accesorios">
								{{x.cantidad}}-{{x.nombre}}
							</span>
						</td>
					</tr>
				</table>

		 	</uib-accordion-group>
		</uib-accordion>
	</div>
	<div class="col-md-12 modal-footer" >
		<div class="col-md-12" style="padding: 20px">
			<button ng-hide="info.estado == 'entregado' || info.estado == 'devuelto'" class="btn btn-primary" ng-click="asignarTecnico(info)">Asignar nuevo tecnico</button>
			<button class="btn btn-primary" ng-click="imprimirComprobante(info)">Imprimir comprobante</button>
		</div>	
	</div>
</div>
<style>
	.table > tbody > tr > td:first-child {
    	text-align: left;
    	font-weight: bold;
	}
</style>