<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title">Nueva Orden</h4>
    </div>
    <div class="modal-body">
		<ba-wizard>
		    <ba-wizard-step title="Personal info" form="personalInfoForm">
				<form name="personalInfoForm" novalidate>
				    <div class="row">
				        <div class="col-md-6">
				            <div class="form-group has-feedback">
				                <label for="cedula">Cedula</label>
				                <input type="text" class="form-control" id="cedula" name="cedula" placeholder="Username" ng-model="data.personalInfo.username" required>
				                <span class="help-block error-block basic-block">Required</span>
				            </div>
				        </div>
				    </div>
				</form>

		    </ba-wizard-step>


		</ba-wizard>
	





    </div>
</div>