<div ba-panel ba-panel-class="profile-page" ng-show="open">
    <div class="panel-content">
        <h3 class="with-line">Nueva orden de reparación</h3>
        <div class="row col-md-12">
            <form name="cliente" ng-submit="guardarOrden(data)">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3>Información del cliente</h3>
                    </div>
                    <div class="col-md-4 col-sm-6" >
                        <div class="form-group has-feedback">
                            <label for="cedula" style="width:100%">Cédula<span style="color:#ff0000">*</span></label>
                            <div style="float:left;width:50px;">
                                <select class="form-control" ng-model="data.cliente.tipo" selectpicker name="tipo">
                                    <option value="V">V</option>
                                    <option value="E">E</option>
                                    <option value="J">J</option>
                                    <option value="G">G</option>
                                </select>
                            </div>
                            <div ng-class="{'has-error': (!cliente.$pristine && cliente.cedula.$error.required ) || cliente.cedula.$error.pattern}">
                                <input style="float:right;width:calc(100% - 55px);" type="text" class="form-control" id="cedula" name="cedula" placeholder="Cedula" ng-model="data.cliente.cedula" ng-pattern="/^[0-9]{1,8}$/" ng-blur="verificarCliente(data.cliente)"  required >
                            </div>
                        </div>
                       <!--  <span ng-show="cliente.cedula.$error.pattern">Solo 9 digitos</span> -->
                    </div>

                    <div class="col-md-4 col-sm-6" ng-class="{'has-error': (!cliente.$pristine && cliente.nombre.$error.required ) || cliente.nombre.$error.pattern}">
                        <div class="form-group has-feedback">
                            <label for="nombre">Nombre</label><span style="color:#ff0000">*</span>
                            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" ng-model="data.cliente.nombre" required>
                          
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6" ng-class="{'has-error': (!cliente.$pristine && cliente.apellido.$error.required ) || cliente.apellido.$error.pattern}">
                        <div class="form-group has-feedback">
                            <label for="apellido">Apellido</label><span style="color:#ff0000">*</span>
                            <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Apellido" ng-model="data.cliente.apellido" required>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6" ng-class="{'has-error': !cliente.$pristine && cliente.email.$error.pattern}">
                        <div class="form-group has-feedback">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email" ng-model="data.cliente.email" >
                             <span ng-show="!cliente.$pristine && cliente.email.$error.email">Colocar correo valido</span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6" ng-class="{'has-error': (!cliente.$pristine && cliente.tlf.$error.required ) || cliente.tlf.$error.pattern}">
                        <div class="form-group has-feedback">
                            <label for="tlf">Teléfono</label><span style="color:#ff0000">*</span>
                            <input type="text" class="form-control" id="tlf" name="tlf" placeholder="Telefono" ng-model="data.cliente.tlf"  ng-pattern="/^[0-9]{1,11}$/" required>
                            <span ng-show="cliente.tlf.$error.pattern">Solo 11 digitos</span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6" ng-class="{'has-error': (!cliente.$pristine && cliente.direccion.$error.required ) || cliente.direccion.$error.pattern}">
                        <div class="form-group">
                            <label for="direccion">Dirección</label><span style="color:#ff0000">*</span>
                            <input placeholder="Dirección" class="form-control" id="direccion"  ng-model="data.cliente.direccion" name="direccion" required>
                        </div>
                    </div>

                </div>
           
                <div class="row">
                    <hr>
                    <div class="col-md-12 text-center">
                        <h3>Información del equipo</h3>
                    </div>
                    <div class="col-md-4 col-sm-6" ng-class="{'has-error': (!cliente.$pristine && cliente.serial_equipo.$error.required ) || equipo.serial_equipo.$error.pattern}">
                        <div class="form-group">
                            <label for="serial_equipo">Serial</label><span style="color:#ff0000">*</span>
                            <input placeholder="Serial" class="form-control" id="serial_equipo" name="serial_equipo" ng-model="data.equipo.serial_equipo" required ng-blur="verificarEquipo(data.equipo)">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="form-group has-feedback" ng-class="{'has-error': !cliente.$pristine && cliente.tipo.$error.required}">
                            <label for="tipo_equipo">Tipo de equipo </label><span style="color:#ff0000">*</span>
                            <div ng-hide="equipoExist">
                                <select ng-selected="equipoExist.codigo_tipo" class="form-control" ng-model="data.equipo.codigo_tipo" title="Tipo de Equipo"  
                                ng-options="item.codigo_tipo as item.nombre for item in tipo_equipos"  name="tipo" required>
                                </select>
                            </div>
                            <div style="min-height: 34px;" ng-show="equipoExist">
                                <span>{{equipoExist.tipo}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6" >
                        <div class="form-group has-feedback" ng-class="{'has-error': (!cliente.$pristine && cliente.id_marca.$error.required ) }">
                            <label for="marca">Marca</label><span style="color:#ff0000">*</span>
                            <div ng-hide="equipoExist" >
                                <select class="form-control" ng-model="data.equipo.id_marca" title="Marca" name="id_marca" ng-options="item.id as item.nombre for item in marcas track by item.id" ng-change="getModelosMarca()" required>
                                </select>
                            </div>
                            <div  style="min-height: 34px;" ng-show="equipoExist">
                                <span>{{equipoExist.marca}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6" >
                        <div class="form-group has-feedback" ng-class="{'has-error': (!cliente.$pristine && cliente.id_modelo.$error.required ) }">
                            <label for="cedula">Modelo</label><span style="color:#ff0000">*</span>
                            <div ng-hide="equipoExist">
                                <select class="form-control" ng-model="data.equipo.id_modelo" title="Modelos" name="id_modelo" ng-options="item.id as item.nombre for item in modelos track by item.id" required>
                                </select>
                            </div>
                            <div style="min-height: 34px;" ng-show="equipoExist">
                                <span>{{equipoExist.modelo}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="form-group" ng-class="{'has-error': !cliente.$pristine && cliente.observ.$error.required}">
                            <label for="observaciones">Observaciones</label><span style="color:#ff0000">*</span>
                            <textarea  ng-hide="equipoExist" placeholder="Observaciones" class="form-control" id="observaciones"  ng-model="data.equipo.observaciones" name="observ" required>
                            </textarea>
                            <div style="min-height: 60px;" ng-show="equipoExist">
                                <span>{{equipoExist.observaciones}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="form-group">
                            <label for="accesorios">Accesorios dejados</label><br>
                            <label class="checkbox-inline custom-checkbox nowrap" ng-repeat="accesorio in data.accesorios">
                              <input
                                type="checkbox"
                                value="{{accesorio.name}}"
                                ng-model="accesorio.selected"
                              > <span>{{accesorio.name}}</span>
                            </label>
                            <input type="text" name="" placeholder="Otro" ng-model="data.otro">
                            
                        </div>
                    </div>

                </div>

                <div class="row">
                    <hr>    
                    <div class="col-md-12 text-center">
                        <h3>Información de la reparación</h3>
                    </div>
                     <div class="col-md-4 col-sm-6">
                        <div class="form-group" ng-class="{'has-error': !cliente.$pristine && cliente.falla.$error.required}">
                            <label for="falla">Falla</label><span style="color:#ff0000">*</span>
                            <select ng-model="data.reparacion.falla" class="form-control" name="falla" required>
                                <option value="software">Software</option>
                                <option value="hardware">Hardware</option>
                                <option value="ambos">Ambos</option>
                            </select>
                        </div>
                    </div>
                     <div class="col-md-4 col-sm-6">
                        <div class="form-group" ng-class="{'has-error': !cliente.$pristine && cliente.descripcion.$error.required}">
                            <label for="descripcion">Descripción</label><span style="color:#ff0000">*</span>
                            <textarea placeholder="Descripción" class="form-control" id="descripcion"  ng-model="data.reparacion.descripcion" name="descripcion" required>
                            </textarea>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="form-group has-feedback" ng-class="{'has-error': !cliente.$pristine && cliente.descripcion.$error.required}">
                            <label for="tecnicos">Técnicos a reparar</label><span style="color:#ff0000">*</span>
                            <select class="form-control" ng-model="data.tecnicos" title="Tecnicos" ng-options="item.cedula as item.nombre+' '+item.apellido for item in tecnicos" required>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12 ">
                        <p style="color: red;">Todos los campos con asterisco (*) son obligatorios</p>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <nav>
                            <ul class="pager ba-wizard-pager">
                                <li class="previous"><button ng-disabled="paso==1" ng-click="anterior()" type="button" class=" btn btn-primary" disabled="disabled"><span aria-hidden="true">←</span> Anterior</button></li>
                                <li ng-if="revision==false;" class="next"> <button  type="submit" class="btn btn-primary">Guardar <i class="fa fa-save"></i></button></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </form>
                
        </div>

        </div>
    </div>
</div>
<div ba-panel ba-panel-class="profile-page">
    <div class="panel-content">
        <h3 class="with-line">Ordenes de reparación</h3>
        <div class="row col-md-12">
            <div class="col-md-12">
                <div class="add-row-editable-table col-md-9" style="z-index: 999;">
                    <button class="btn btn-primary" ng-click="newOrder()" data-toggle="modal"><i class="fa fa-plus"></i>Nueva Orden</button>
                </div>
                <div class="col-md-3 ">
                    <select class="form-control" ng-model="orden.estado" selectpicker ng-change="getOrdenes(orden)">
                        <option value="revision">Revisión</option>
                        <option value="devuelto">Devuelto</option>
                        <option value="proceso">Proceso</option>
                        <option value="reparado">Reparado</option>
                        <option value="entregado">Entregado</option>
                    </select>

                </div>
            </div>
            <table class="table" datatable="ng" dt-options="dtOptions">
                <thead>
                  <tr class="sortable ">
                    <th class="table-id">N°</th>
                    <th>Serial equipo</th>
                    <th>Cliente</th>
                    <th>Fecha Ingreso</th>
                    <th>Falla</th>
                    <th>Descripción</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                  </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="item in ordenes" class="editable-row">
                        <td>
                            {{item.num_reparacion}}
                        </td>
                        <td>
                            {{ item.serial_equipo || 'No hay datos' }}
                        </td>
                        <td>
                            {{ item.nombre+' '+item.apellido }}
                        </td>
                        <td style="max-width:250px;">
                           <!--  <span editable-bsdate="item.fecha" e-name="fecha" e-form="rowform"  e-is-open="opened.$data" e-ng-click="open($event,'$data')" e-datepicker-popup="dd-MMMM-yyyy" e-required> -->
                            <span>
                              {{ (item.fecha | date:"dd/MM/yyyy")  || 'No hay datos' }}
                            </span>
                        </td>
                        <td>
                            <span editable-text="item.falla" e-name="falla" e-form="rowform" e-required>
                              {{ item.falla || 'No hay datos' }}
                            </span>
                        </td>
                        <td>
                            <span editable-text="item.descripcion" e-name="descripcion" e-form="rowform" e-required>
                              {{ item.descripcion || 'No hay datos' }}
                            </span>
                        </td>
                        <td class="select-td">
                            <span editable-select="item.estado" e-name="estado" e-form="rowform" e-selectpicker e-ng-options="g as g for g in estados">
                              {{ item.estado }}
                            </span>
                        </td>
                        <!-- ng-submit="editOrden(item)" -->
                        <td>
                            <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline" onaftersave="editOrden(item)">
                                <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs"> Guardar </button>
                                <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default editable-table-button btn-xs"> Cancelar </button>
                            </form>
                            <div class="buttons" ng-show="!rowform.$visible">
                                <button class="btn btn-info editable-table-button btn-xs" ng-click="infoOrden(item)">Ver</button>
                                <button ng-if="item.estado=='revision' || item.estado=='proceso'" class="btn btn-primary editable-table-button btn-xs" ng-click="rowform.$show(); validateEstado(item.estado)">Editar</button>
                                <button ng-if="item.estado=='reparado' || item.estado=='devuelto'" class="btn btn-danger editable-table-button btn-xs" ng-click="facturar(item)">Facturar</button>
                             <!--    <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeUser($index)">Delete</button> -->
                            </div>
                        </td>
                      </tr>
              </tbody>
            </table>
        </div>
    </div>
</div>
