<div ba-panel ba-panel-class="profile-page">
  <div class="panel-content">
    <h3 class="with-line">Clientes</h3>


    <div class="col-md-12">
      <div class="add-row-editable-table col-md-9">
       <!--  <button class="btn btn-primary" ng-click="newClient()" data-toggle="modal"><i class="fa fa-plus"></i>Nuevo cliente</button> -->
      </div>      
      <div class="col-md-3 ">
          <select class="form-control" ng-model="cliente.estado" selectpicker ng-change="cargarClientes(cliente)">
              <option value="activo">Activos</option>
              <option value="inactivo">Inactivos</option>
          </select>
      </div>
    </div>

    <div class="col-md-12">
      <table class="table" datatable="ng" dt-options="dtOptions">
        <thead>
          <tr class="sortable ">
            <th>Cédula</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Email</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody >
          <tr ng-repeat="x in client" class="editable-row">
            <td>
              {{ x.tipo}}-{{ x.cedula}}
            </td>
            <td>
              <span editable-text="x.nombre" e-name="nombre" e-form="rowform" e-required>
                  {{ x.nombre || 'No hay dato' }}
              </span>
            </td>
            <td>
              <span editable-text="x.apellido" e-name="apellido" e-form="rowform" e-required>
                  {{ x.apellido || 'No hay dato' }}
              </span>
            </td>
            <td>
              <span editable-text="x.direccion" e-name="direccion" e-form="rowform" e-required>
                  {{ x.direccion || 'No hay dato' }}
              </span>
            </td>
            <td>
              <span editable-text="x.tlf" e-name="tlf" e-form="rowform"  onbeforesave="tlf($data)" e-required>
                  {{ x.tlf || 'No hay dato' }}
              </span>
            </td>   
            <td>
              <span editable-text="x.email" e-name="email" e-form="rowform" onbeforesave="check($data)" e-required>
                  {{ x.email || 'No hay dato' }}
              </span>
            </td>
            <td class="select-td">
                <span editable-select="x.estado" e-name="estado" e-form="rowform" e-selectpicker e-ng-options="g as g for g in estados">
                  {{ x.estado }}
                </span>
            </td>
            <td>
              <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline" onaftersave="editClient(x)">
                <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs"> Guardar </button>
                <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default editable-table-button btn-xs"> Cancelar </button>
              </form>
              <div class="buttons" ng-show="!rowform.$visible">
                <button class="btn btn-primary editable-table-button btn-xs" ng-click="rowform.$show()">Editar</button>
               <!--  <button class="btn btn-danger editable-table-button btn-xs" ng-click="deactivate(x)">Desactivar</button> -->
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>