<div class="modal-content" style="margin-top: 100px;">
    <form ng-submit="saveClient(nuevoCliente)" name="form">
        <div class="modal-header">
            <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
                <em class="ion-ios-close-empty sn-link-close"></em>
            </button>
            <h4 class="modal-title">Nuevo Cliente</h4>
        </div>

        <div class="modal-body">
            <div class="row">
                <div class="form-group col-md-2" ng-class="{'has-error': (!form.$pristine && form.tipo.$error.required ) || form.tipo.$error.pattern}">
                    <label for="input01">Tipo</label><span style="color:#ff0000">*</span>
                    <select ng-model="nuevoCliente.tipo" class="form-control" title="Primary Select" name="tipo" data-style="btn-default" data-container="body" selectpicker="">
                        <option class="bs-title-option" value="">Tipo</option>
                        <option value="V">V</option>
                        <option value="E">E</option>
                        <option value="J">J</option>
                        <option value="G">G</option>
                        <option data-hidden="true" disabled="" value="">Primary Select</option>
                    </select>
                </div>
                <div class="form-group col-md-3" ng-class="{'has-error': (!form.$pristine && form.cedula.$error.required ) || form.cedula.$error.pattern}">
                    <label for="input01">Cedula</label><span style="color:#ff0000">*</span>
                    <input ng-model="nuevoCliente.cedula" type="text" class="form-control" name="cedula" id="input01" placeholder="Cedula" ng-pattern="/^[0-9]{1,9}$/" ng-blur="validate()" required>
                     <span ng-show="form.cedula.$error.pattern">Solo 9 digitos</span>
                </div>
                <div class="form-group col-md-3" ng-class="{'has-error': (!form.$pristine && form.nombre.$error.required ) || form.nombre.$error.pattern}">
                    <label for="input01">Nombre</label><span style="color:#ff0000">*</span>
                    <input ng-model="nuevoCliente.nombre"  type="text" class="form-control" id="input01" name="nombre" placeholder="Nombre">
                </div>
                
                <div class="form-group col-md-4" ng-class="{'has-error': (!form.$pristine && form.apellido.$error.required ) || form.apellido.$error.pattern}">
                    <label for="input01">Apellido</label><span style="color:#ff0000">*</span>
                    <input ng-model="nuevoCliente.apellido"  type="text" class="form-control" id="input01" name="apellido" placeholder="Apellido">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4" ng-class="{'has-error': (!form.$pristine && form.direccion.$error.required ) || form.direccion.$error.pattern}">
                    <label for="input01">Direccion</label><span style="color:#ff0000">*</span>
                    <input ng-model="nuevoCliente.direccion"  type="text" class="form-control" id="input01" nombre="direccion" placeholder="Direccion">
                </div>
                <div class="form-group col-md-4" ng-class="{'has-error': (!form.$pristine && form.tlf.$error.required ) || form.tlf.$error.pattern}">
                    <label for="input01">Telefono</label><span style="color:#ff0000">*</span>
                    <input ng-model="nuevoCliente.tlf"  type="text" class="form-control" id="input01" name="tlf" placeholder="Telefono" ng-pattern="/^[0-9]{1,11}$/" required>
                    <span ng-show="form.tlf.$error.pattern">Solo 11 digitos</span>
                </div> 

                <div class="form-group col-md-4" ng-class="{'has-error': !form.$pristine && form.email.$error.email}">
                    <label for="input01">Correo</label><span style="color:#ff0000">*</span>
                    <input ng-model="nuevoCliente.email"  type="email" class="form-control" id="input01" name="email" placeholder="user@hotmail.com">
                    <span ng-show="!form.$pristine && form.email.$error.email">Colocar correo valido</span>
                </div> 
            </div>
          
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" ng-disabled="!form.$valid">Guardar</button>
        </div>
    </form>
</div>
