<main class="auth-main" style="margin-top: 15vh;">
  	<div class="auth-block text-center">
        <img src="assets/img/computel2.png" width="240" style="margin-bottom: 15px;">
		<form class="form-horizontal" ng-submit="login(user)">
			<div class="form-group">
				<label for="cedula" class="col-sm-2 control-label">Cedula</label>
				<div class="col-sm-10">
					<input required type="text" class="form-control" id="cedula" placeholder="Cedula" ng-model="user.cedula">
				</div>
			</div>
    		<div class="form-group">
    			<label for="clave" class="col-sm-2 control-label">Clave</label>
    			<div class="col-sm-10">
    				<input required type="password" class="form-control" id="clave" placeholder="Clave" ng-model="user.clave">
    			</div>
    		</div>
    		<div class="form-group">
    			<div class="col-sm-12 text-center">
    				<button type="submit" class="btn btn-default btn-auth">Entrar</button> 
    			</div>
    		</div>
    	</form>
	</div>
</main>


<link rel="stylesheet" href="app/auth-0c1974bc2f.css">
<link rel="stylesheet" href="app/vendor-21c0992fa2.css">