.has-error .form-control {
    border: 1px solid #ec0000 !important;
}
.has-error label{
	color: #de4444;
}
.has-error span{
	color: #de4444 !important;
	position: absolute;
}
.dataTables_wrapper{
    position: initial !important;
}