 <div class="row col-md-12">
     
    <div class="col-md-12" style="margin-bottom:20px;">
        <div class="col-md-12 col-sm-12 text-center">
        </div>
        
    </div>
    <hr>
    <div class="row text-center graficas"><!-- md-min-date="15/3/2016" -->
        <div class="col-md-12">
            <form ng-submit="indicador1(date)">
                <div class="col-md-4 col-md-offset-2">
                    <p class="input-group">
                        <input ng-model="date.startdate"
                        uib-datepicker-popup="{{format}}"
                        is-open="popup1.opened"
                        datepicker-options="dateOptions"
                        ng-required="true" 
                        close-text="Cerrar" 
                        alt-input-formats="altInputFormats"
                        maxDate="today"
                        class="form-control" required>
                        <span class="input-group-btn">
                         <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
                <div class="col-md-4">
                    <p class="input-group">
                        <input ng-model="date.enddate"
                        uib-datepicker-popup="{{format}}"
                        is-open="popup2.opened"
                        datepicker-options="dateOptions"
                        ng-required="true" 
                        close-text="Cerrar" 
                        alt-input-formats="altInputFormats"
                        maxDate="today"
                        class="form-control" required>
                        <span class="input-group-btn">
                         <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
                <button class="btn btn-primary" type="submit" ng-disabled="(date.startdate>date.enddate)||!date.startdate||!date.enddate">Generar</md-button>
            </form> 
        </div>
        <div class="row col-md-12" ng-if="show==true">
            <highchart id="chart1" config="chartConfig"></highchart>
        </div>
    </div>


</div>