<uib-accordion ng-repeat="orden in ordenes">
  <uib-accordion-group is-open="true" heading="{{orden.nombre}} {{orden.apellido}}" panel-class="bootstrap-panel accordion-panel panel-primary">
    Nombre : {{orden.nombre}} {{orden.apellido}} </br>
    Cédula : {{orden.cedula_cliente}}</br>
    Teléfono : {{orden.tlf}}</br>
    Estado : {{orden.estado}}</br>
    Falla : {{orden.falla}}</br>
    Fecha : {{orden.fecha}}</br>

  </uib-accordion-group>
</uib-accordion>
<div ng-if="!ordenes">
   <img style="margin-left:250px;" src="assets/img/computel2.png"></img>
</div>