<div class="modal-content " style="margin-top: 100px;">
    <form name="modalTecnico" ng-submit="guardar(nuevoTecnico)" >
        <div class="modal-header ">
            <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
                <em class="ion-ios-close-empty sn-link-close"></em>
            </button>
            <h4 class="modal-title">Nuevo Tecnico</h4>
        </div>

        <div class="modal-body ">
            <div class="row">
                <div class="form-group col-md-4 " ng-class="{'has-error': (!modalTecnico.$pristine && modalTecnico.cedula.$error.required ) || modalTecnico.cedula.$error.pattern}">
                    <label for="cedula">Cedula</label><span style="color:#ff0000">*</span>
                    <input type="text" class="form-control" id="cedula" name="cedula"  ng-model="nuevoTecnico.cedula" placeholder="Cedula" ng-pattern="/^[0-9]{1,8}$/" required>
                    <span ng-show="modalTecnico.cedula.$error.pattern">Solo 8 digitos</span>
                    <!--ng-model="nuevoTecnico.cedula" ESTO UNE LO Q ESTA EN EL CONTROLADOR CON CADA UNO DE LOS INPUT  -->
                </div>
                <div class="form-group col-md-4 " ng-class="{'has-error': (!modalTecnico.$pristine && modalTecnico.nombre.$error.required ) || modalTecnico.nombre.$error.pattern}">
                    <label for="nombre">Nombre</label><span style="color:#ff0000">*</span>
                    <input type="text" class="form-control" id="nombre" name="nombre" ng-model="nuevoTecnico.nombre" placeholder="Nombre" required>
                </div>
                <div class="form-group col-md-4 " ng-class="{'has-error': (!modalTecnico.$pristine && modalTecnico.apellido.$error.required ) || modalTecnico.apellido.$error.pattern}">
                    <label for="apellido">Apellido</label><span style="color:#ff0000">*</span>
                    <input type="text" class="form-control" id="apellido" name="apellido" ng-model="nuevoTecnico.apellido" placeholder="Apellido" required>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4" ng-class="{'has-error': (!modalTecnico.$pristine && modalTecnico.direccion.$error.required ) || modalTecnico.direccion.$error.pattern}">
                    <label for="direccion">Direccion</label><span style="color:#ff0000">*</span>
                    <input type="text" class="form-control" id="direccion" name="direccion" ng-model="nuevoTecnico.direccion" placeholder="Direccion" required>
                </div>
                <div class="form-group col-md-4" ng-class="{'has-error': (!modalTecnico.$pristine && modalTecnico.tlf.$error.required ) || modalTecnico.tlf.$error.pattern}">
                    <label for="tlf">Telefono</label><span style="color:#ff0000">*</span>
                    <input type="text" class="form-control" id="tlf" name="tlf" ng-model="nuevoTecnico.tlf"  placeholder="Telefono" ng-pattern="/^[0-9]{1,11}$/" required>
                    <span ng-show="modalTecnico.tlf.$error.pattern">Solo 11 digitos</span>
                </div>
                <div class="form-group col-md-4" ng-class="{'has-error': !modalTecnico.$pristine && modalTecnico.email.$error.email}">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" ng-model="nuevoTecnico.email" placeholder="ejemplo@ejemplo.com" >
                    <span ng-show="!modalTecnico.$pristine && modalTecnico.email.$error.email">Colocar correo valido</span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4" ng-class="{'has-error': (!modalTecnico.$pristine && modalTecnico.tipo.$error.required ) }">
                    <label for="tipo">Tipo</label><span style="color:#ff0000">*</span>
                    <select class="form-control" title="Primary Select" id="tipo" ng-model="nuevoTecnico.tipo" data-container="body" selectpicker="" name="tipo" requiered>
                        <option class="bs-title-option" value="">Tipo</option>
                        <option value="hardware">Hardware</option>
                        <option value="software">Software</option>
                        <option value="ambos">Ambos</option>
                    </select>
                </div>
            </div> 
            <div class="row">
                <div class="form-group col-md-12">
                <p style="color: red;">Los campos con asterisco(*) son obligatorios</p>
                </div>
            </div>
    
               <!--  <div class="form-group col-md-4 col-xs-6">
                    <label for="estado">Estado</label>
                    <select class="form-control" title="Primary Select" data-container="body" id="estado" ng-model="nuevoTecnico.estado" selectpicker=""><option class="bs-title-option" value="">Estado</option>
                        <option value="hardware">Activo</option>
                        <option value="software">Inactivo</option>
                        <option data-hidden="true" disabled="" value="">Primary Select</option></select>
                </div>  -->
              <!--   {{nuevoTecnico}}  ESTO ME IMPRIME EN LA PANTALLA LO Q PASO DEL IMPUT AL ANGULAR-->
        </div>

        <div class="modal-footer ">
            <button type="submit" class="btn btn-primary"  ng-disabled="!modalTecnico.$valid">Guardar</button>
        </div>
    </form>
</div>
































