  <div ba-panel ba-panel-class="profile-page">
    <div class="panel-content">
        <h3 class="with-line">Técnicos</h3>
        <div class="row col-md-12">
            <div class="add-row-editable-table col-md-9">
                <button class="btn btn-primary" ng-click="newTecnico()" data-toggle="modal"><i class="fa fa-plus"></i>Nuevo Técnico</button>
            </div>
            <div class="col-md-3 ">
                <select class="form-control" ng-model="tecnico.estado" selectpicker ng-change="cargarTecnicos(tecnico)">
                    <option value="activo">Activos</option>
                    <option value="inactivo">Inactivos</option>
                </select>

            </div>
            <table class="table" datatable="ng" dt-options="dtOptions">
                <thead>
                  <tr class="sortable ">
                    <th>Cédula</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Dirección</th>
                    <th>Teléfono</th>
                    <th>Email</th>
                    <th>Tipo de Técnico</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                  </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="item in tecnicos" class="editable-row">
                        <td>
                            {{item.cedula}}
                        </td>
                        <td>
                            <span editable-text="item.nombre" e-name="nombre" e-form="rowform" e-required>
                              {{ item.nombre || 'empty' }}
                            </span>
                        </td>
                        <td>
                            <span editable-text="item.apellido" e-name="apellido" e-form="rowform" e-required>
                              {{ item.apellido || 'empty' }}
                            </span>
                        </td>
                         <td>
                            <span editable-text="item.direccion" e-name="direccion" e-form="rowform" e-required>
                              {{ item.direccion || 'empty' }}
                            </span>
                        </td>
                        <td>
                            <span editable-text="item.tlf" e-name="tlf" e-form="rowform" onbeforesave="tlf($data)" e-required>
                              {{ item.tlf || 'empty' }}
                            </span>
                        </td>
                        <td>
                            <span editable-text="item.email" e-name="email" e-form="rowform"  onbeforesave="check($data)" >
                              {{ item.email}}
                            </span>
                        </td>
                        <td class="select-td">
                            <span editable-select="item.tipo" e-name="tipo" e-form="rowform" e-selectpicker e-ng-options="g as g for g in tipos">
                              {{ item.tipo }}
                            </span>
                        </td>
                         <td class="select-td">
                            <span editable-select="item.estado" e-name="estado" e-form="rowform" e-selectpicker e-ng-options="g as g for g in estados">
                              {{ item.estado }}
                            </span>
                        </td>
                        <!-- ng-submit="editOrden(item)" -->
                        <td>
                            <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline" onaftersave="editTecnico(item)">
                                <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs"> Guardar </button>
                                <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default editable-table-button btn-xs"> Cancelar </button>
                            </form>
                            <div class="buttons" ng-show="!rowform.$visible">
                                <button class="btn btn-primary editable-table-button btn-xs" ng-click="rowform.$show()">Editar</button>
                                <!-- <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeUser($index)">Delete</button> -->
                            </div>
                        </td>
                      </tr>
              </tbody>
            </table>
        </div>
    </div>
</div>
 