*{
	color:#222426;
}

table {
	font-size: 13px;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    display: table;
}

.table-bordered {
    border: 1px solid #ddd;
}
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
    border-bottom-width: 2px;
}
 
.table-bordered tr > th, 
.table-bordered tr > td{
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
    padding: 5px;
	    line-height: 1.42857;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}
.table > caption + thead > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > th, .table > thead:first-child > tr:first-child > td{
	border-top: 0;
}

.header{
	height: 180px;
	/*border-bottom: 1px solid #ddd;*/
}
.header > div{
	float: left;
}
.text-center{
	text-align: center;
}

