<div class="modal-content row">
    <div class="modal-header col-md-12">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h3 class="modal-title">Detalles</h3>
    </div>
	<div class="col-md-12 modal-body">
		<table class="table table-striped">
			<tr>
				<td>N° reparación:</td>
				<td>{{info.num_reparacion}}</td>
			</tr>
			<tr>
				<td>Cedula:</td>
				<td>{{info.cedula_cliente}}</td>
			</tr>
			<tr>
				<td>Nombre cliente</td>
				<td>{{info.nombre+' '+info.apellido}}</td>
			</tr>
			<tr>
				<td>Serial de equipo</td>
				<td>{{info.serial_equipo}}</td>
			</tr>
			<tr>
				<td>Modelo de equipo</td>
				<td>{{info.marca +' - '+ info.modelo}}</td>
			</tr>
			<tr>
				<td>Falla</td>
				<td>{{info.falla}}</td>
			</tr>
			<tr>
				<td>Estado de reparación</td>
				<td>{{info.estado}}</td>
			</tr>
			<tr>
				<td>fecha de inicio de reparación</td>
				<td>{{info.fecha_inicio | date}}</td>
			</tr>
			<tr>
				<td>fecha de final de reparación</td>
				<td>{{info.fecha_final}}</td>
			</tr>
		</table>
	</div>
</div>
<style>
	.table > tbody > tr > td:first-child {
    	text-align: left;
    	font-weight: bold;
	}
</style>