<!-- <<<<<<< HEAD
<div class="modal-content">
    <form ng-submit="GuardarReparado(data)">
        <div class="modal-header">
            <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
                <em class="ion-ios-close-empty sn-link-close"></em>
            </button>
            <h4 class="modal-title" id="myModalLabel">Reparar</h4>
        </div>
        <div class="modal-body">
            <h5>Piezas usadas en la reparación</h5>
            <div class="form-group has-feedback">
                <label for="piezas">Piezas</label>
                <select class="form-control" ng-model="data.piezas" title="Piezas" ng-options="item as item.nombre+' - '+item.descripcion for item in piezas" selectpicker-options="piezas " multiple selectpicker>
                </select>
            </div>
            <div class="col-md-12" ng-show="data.piezas">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Pieza</th>
                            <th>Cantidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in data.piezas">
                            <th>{{x.nombre+' - '+x.descripcion}}</th>
                            <th><div class="form-group has-feedback"><input class="form-control" type="number" min="1" ng-model="x.cantidad" value="1"></div></th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>
======= -->
<div class="modal-content" style="margin-top: 100px;">
  <form name="modalReparacion" ng-submit="cambiarEstado('reparado',data)">
    <div class="modal-header">
      <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
        <em class="ion-ios-close-empty sn-link-close"></em>
      </button>
      <h4 class="modal-title" id="myModalLabel">Reparar</h4>
    </div>
    <div class="modal-body">
      <h5>Piezas usadas en la reparación</h5>
      <div class="row" >
        <div class="form-group has-feedback col-md-7">
          <label for="piezas">Piezas</label>
          <select class="form-control" ng-model="pieza.pieza" title="Piezas" ng-options="item.id_pieza as item.nombre+' - '+item.descripcion +', Disponible: '+ item.cantidad for item in piezas" selectpicker-options="piezas " ng-change="maxPieza(pieza.pieza)" >
          </select>
        </div>
        <div class="col-md-3 form-group">
            <label>Cantidad</label>
            <input type="number" min="1" value="1" ng-model="pieza.cantidad" name="cantidad" class="form-control" max="{{maximo}}" placeholder="Cantidad" >
        </div>

        <div class="col-md-2 form-group">
          <label>Agregar</label>
          <button type="submit" ng-click="add(pieza)" class="btn btn-primary">+</button>
        </div>
      </div>

      <div class="row" ng-repeat="x in piezasR">
        <div class="col-md-12">
          <li>{{x.nombre}} -  {{x.cantidad}}</li>
        </div>
      </div>

       <div class="form-group has-feedback" ng-class="{'has-error': (!modalReparacion.$pristine && modalReparacion.observacion.$error.required )}">
          <label for="observacion">Observación</label>
          <textarea  ng-hide="equipoExist" placeholder="Observaciones" class="form-control" name="observacion"  ng-model="data.observacion" required>
          </textarea>
      </div>

    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
  </form>
</div>
