<div ba-panel ba-panel-class="profile-page">
    <div class="panel-content">
        <h3 class="with-line">Equipo Tecnico</h3>
        <div class="row">
            <div class="col-md-3">
                <select class="form-control " ng-model="ordenes.estado" selectpicker ng-change="EquiposTecnico(ordenes)">
                    <option value="espera">En espera</option>
                    <option value="procesado">Procesados</option>
                    <option value="reparado">Reparados</option>
                    <option value="cancelado">Devueltos</option>
                </select>

            </div>
        </div>

        <div>
            <table class="table" datatable="ng" dt-options="dtOptions">
                <thead>
                    <tr class="sortable ">
                        <th>#</th>
                        <th>Cliente</th>
                        <th>Serial Equipo</th>
                        <th>Equipo</th>
                        <th>Falla</th>
                        <th>Estado</th>
                        <th>Comisión</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody >
                    <tr ng-repeat="x in Equipos">
                        <td ng-click="infoOrden(x)">{{x.num_reparacion}}</td>
                        <td ng-click="infoOrden(x)">{{x.nombre+' '+x.apellido}}</td>
                        <td ng-click="infoOrden(x)">{{x.serial_equipo}}</td>
                        <td ng-click="infoOrden(x)">{{x.marca+' '+x.modelo}}</td>
                        <td ng-click="infoOrden(x)">{{x.falla}}</td>
                        <td ng-click="infoOrden(x)">{{x.estado}}</td>
                        <td ng-click="infoOrden(x)">{{(x.comision==0)?'':x.comision+' Bs'}}</td>
                        <td>
                            <div class="btn-group" uib-dropdown dropdown-append-to-body>
                                <button type="button" class="btn btn-primary editable-table-button btn-xs" uib-dropdown-toggle> Acciones <span class="caret"></span> </button>
                                <ul uib-dropdown-menu>
                                    <li><a href ng-click="cambiarEstado('procesado',x)" ng-show="x.estado=='espera'">reparar</a></li>
                                    <li><a href ng-click="cambiarEstado('cancelado',x)" ng-show="x.estado!='espera' || x.estado=='procesado'">devolver</a></li>
                                    <li><a href ng-click="reparar(x)" ng-show="x.estado!='espera' || x.estado=='procesado'">reparado</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>

        </div>
    </div>
</div>