<div ba-panel ba-panel-class="profile-page">
  <div class="panel-content">

  	<div class="col-md-12">
      <form ng-submit="generarReporte(date)">
        <div class="form-group col-md-4" >
            <select ng-model="date.tipoReport" class="form-control" title="Primary Select" name="tipo" data-style="btn-default" data-container="body" selectpicker="">
                <option class="bs-title-option" value="">Reporte</option>
                <option value="reporte1">Ordenes Facturada</option>
                <option value="reporte2">Clientes</option>
                <option value="reporte3">Proveedores</option>
                <option value="reporte4">Inventario</option>
                <option value="reporte5">Compras</option>
                <option value="comisiones">Comisiones</option>
                <option data-hidden="true" disabled="" value="">Nuevo reporte</option>
            </select>
        </div>
        <div ng-if="(date.tipoReport == 'reporte1') || (date.tipoReport == 'reporte5') || (date.tipoReport == 'comisiones')" class="col-md-3">
            <p class="input-group">
                <input ng-model="date.startdate"
                uib-datepicker-popup="{{format}}"
                is-open="popup1.opened"
                datepicker-options="dateOptions"
                ng-required="true" 
                close-text="Cerrar" 
                alt-input-formats="altInputFormats"
                maxDate="today"
                class="form-control" required>
                <span class="input-group-btn">
                 <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>
        <div ng-if="(date.tipoReport == 'reporte1') || (date.tipoReport == 'reporte5') || (date.tipoReport == 'comisiones')" class="col-md-3">
            <p class="input-group">
                <input ng-model="date.enddate"
                uib-datepicker-popup="{{format}}"
                is-open="popup2.opened"
                datepicker-options="dateOptions"
                ng-required="true" 
                close-text="Cerrar" 
                alt-input-formats="altInputFormats"
                maxDate="today"
                class="form-control" required>
                <span class="input-group-btn">
                 <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>
        
        <button class="btn btn-primary" type="submit" >Generar</md-button>
      </form>


  	</div>

  </div>
</div>