<div class="modal-content" style="margin-top: 100px;">
    <form name="modalProveedor" ng-submit="guardar(nuevoProveedor)" >
        <div class="modal-header ">
            <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
                <em class="ion-ios-close-empty sn-link-close"></em>
            </button>
            <h4 class="modal-title">Nuevo Proveedor</h4>
        </div>

        <div class="modal-body">
            <div class="row">
                <div class="form-group col-md-4 col-xs-6" ng-class="{'has-error': (!modalProveedor.$pristine && modalProveedor.letra.$error.required )}">
                    <label for="letra">Tipo</label><span style="color:#ff0000">*</span>
                    <select class="form-control" title="Tipo" name="letra" id="letra" ng-model="nuevoProveedor.letra"  required>
                        <option value="V">V</option>
                        <option value="E">E</option>
                        <option value="J">J</option>
                        <option value="G">G</option>
                    </select>
                </div>
                <div class="form-group col-md-4 col-xs-6" ng-class="{'has-error': (!modalProveedor.$pristine && modalProveedor.rif.$error.required ) || modalProveedor.rif.$error.pattern}">
                    <label for="rif">Rif</label><span style="color:#ff0000">*</span>
                    <input type="text" class="form-control" id="rif" name="rif" ng-model="nuevoProveedor.rif" placeholder="Rif" ng-pattern="/^[0-9]{1,9}$/" required>
                    <span ng-show="modalProveedor.rif.$error.pattern">Solo 9 digitos</span>
                   <!--  <span ng-show="!modalProveedor.$pristine && modalProveedor.rif.$error.required">Rif es requerido.</span> -->
                </div>

                <div class="form-group col-md-4 col-xs-6" ng-class="{'has-error': (!modalProveedor.$pristine && modalProveedor.nombre_prov.$error.required ) || modalProveedor.nombre_prov.$error.pattern}">
                    <label for="nombre_prov">Nombre</label><span style="color:#ff0000">*</span>
                    <input type="text" class="form-control" id="nombre" name="nombre_prov" ng-model="nuevoProveedor.nombre_prov" placeholder="Nombre" required>
                </div>

                <div class="form-group col-md-4 col-xs-6" ng-class="{'has-error': (!modalProveedor.$pristine && modalProveedor.direccion.$error.required ) || modalProveedor.direccion.$error.pattern}">
                    <label for="direccion">Direccion</label><span style="color:#ff0000">*</span>
                    <input type="text" class="form-control" id="direccion" name="direccion" ng-model="nuevoProveedor.direccion" placeholder="Direccion" required>
                </div>

                <div class="form-group col-md-4 col-xs-6" ng-class="{'has-error': (!modalProveedor.$pristine && modalProveedor.tlf.$error.required ) || modalProveedor.tlf.$error.pattern}">
                    <label for="tlf">Telefono</label><span style="color:#ff0000">*</span>
                    <input type="text" class="form-control" id="tlf"  name="tlf" ng-model="nuevoProveedor.tlf" placeholder="Telefono" ng-pattern="/^[0-9]{1,11}$/" required>
                    <span ng-show="modalProveedor.tlf.$error.pattern">Solo 11 digitos</span>
                   <!--  <span ng-show="!modalProveedor.$pristine && modalProveedor.tlf.$error.required">Tlf es requerido.</span> -->
                </div>

                <div class="form-group col-md-4 col-xs-6" ng-class="{'has-error': !modalProveedor.$pristine && modalProveedor.email.$error.email}">
                    <label for="email">Email</label><span style="color:#ff0000">*</span>
                    <input type="email" class="form-control" id="email" ng-model="nuevoProveedor.email" placeholder="ejemplo@ejemplo.com" name="email" required >
                    <span ng-show="!modalProveedor.$pristine && modalProveedor.email.$error.email">Colocar correo valido</span>
                </div>

                <div ng-if="nuevoProveedor.letra && nuevoProveedor.letra != 'V'" class="form-group col-md-4 col-xs-6" ng-class="{'has-error': (!modalProveedor.$pristine && modalProveedor.nombre_resp.$error.required ) || modalProveedor.nombre_resp.$error.pattern}">
                    <label for="nombre_resp">Nombre Responsable</label><span style="color:#ff0000">*</span>
                    <input type="text" class="form-control" id="nombre_resp" name="nombre_resp" ng-model="nuevoProveedor.nombre_resp" placeholder="Nombre" required>
                </div>

                <div ng-if="nuevoProveedor.letra && nuevoProveedor.letra != 'V'" class="form-group col-md-4 col-xs-6" ng-class="{'has-error': (!modalProveedor.$pristine && modalProveedor.tlf_resp.$error.required ) || modalProveedor.tlf_resp.$error.pattern}">
                    <label for="tlf_resp">Telefono del responsable</label><span style="color:#ff0000">*</span>
                    <input type="text" class="form-control" id="tlf" name="tlf_resp" ng-model="nuevoProveedor.tlf_resp" placeholder="Telefono" ng-pattern="/^[0-9]{1,11}$/" required>
                    <span ng-show="modalProveedor.tlf_resp.$error.pattern">Solo 11 digitos</span>

                </div>
            </div>

            <div class="col-md-4">
                <p style="color: red;">(*) Todos los campos son obligatorios</p>
            </div>

        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary"  ng-disabled="!modalProveedor.$valid">Guardar</button>
        </div>

    </form>
</div>
































