 <div ba-panel ba-panel-class="profile-page">
  <div class="panel-content">
    <h3 class="with-line">Proveedor</h3>


    <div class="col-md-12">
      <div class="add-row-editable-table">
        <button class="btn btn-primary" ng-click="newProveedor()" data-toggle="modal"><i class="fa fa-plus"></i>Nuevo Proveedor</button>
      </div>
    </div>

    <div class="col-md-12">
      <table class="table" datatable="ng" dt-options="dtOptions">
        <thead>
          <tr class="sortable ">
            <th>Cédula</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Responsable</th>
            <th>Teléfono</th>
            <th>Email</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody >
          <tr ng-repeat="x in proveedores" class="editable-row">
            <td>
                  {{ x.letra}}-{{ x.rif}}
            </td>
            <td>
              <span editable-text="x.nombre_prov" e-name="nombre_prov" e-form="rowform" e-required>
                  {{ x.nombre_prov || 'No hay datos' }}
              </span>
            </td>
            <td>
              <span editable-text="x.direccion" e-name="direccion" e-form="rowform" e-required>
                  {{ x.direccion || 'No hay datos' }}
              </span>
            </td>
            <td>
              <span editable-text="x.tlf" e-name="tlf" e-form="rowform"  onbeforesave="tlf($data)" e-required>
                  {{ x.tlf || 'No hay datos' }}
              </span>
            </td>
            <td>
              <span editable-text="x.nombre_resp" e-name="nombre_resp" e-form="rowform" e-required>
                  {{ x.nombre_resp || 'No hay datos' }}
              </span>
            </td>   
            <td>
              <span editable-text="x.tlf_resp" e-name="tlf_resp" e-form="rowform" onbeforesave="tlf($data)" e-required>
                  {{ x.tlf_resp || 'No hay datos' }}
              </span>
            </td>
            <td>
              <span editable-text="x.email" e-name="email" e-form="rowform" onbeforesave="check($data)" e-required>
                  {{ x.email || 'No hay datos' }}
              </span>
            </td>
            <td>
              <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline" onaftersave="editProveedor(x)">
                <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs"> Guardar </button>
                <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default editable-table-button btn-xs"> Cancelar </button>
              </form>
              <div class="buttons" ng-show="!rowform.$visible">
                <button class="btn btn-primary editable-table-button btn-xs" ng-click="rowform.$show()">Editar</button>
               <!--  <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeUser($index)">Desactivar</button> -->
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>